# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# bower
build/libs/*

# static files
public/*

# ejs
views/*.ejs